[Unit]
Description=nginx

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull capttofu/nginx
ExecStart=/usr/bin/docker run --rm --name nginx -p 80:80 -e HOST_IP=${COREOS_PRIVATE_IPV4} capttofu/nginx
ExecStartPost=/usr/bin/etcdctl set /nginx/ipv4 ${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker kill nginx
ExecStop=/usr/bin/docker rm nginx
ExecStopPost=/usr/bin/etcdctl rm /nginx/ipv4

[X-Fleet]
X-Conflicts=nginx.service
